<footer class="pv5 pv6-l cf ph3" id="fadein-backtotop">

  <div class="cf">
    <div class="fl w-100 w-20-ns tc pv5">
      Our services
    </div>
    <div class="fl w-100 w-20-ns tc pv5">
      How it works
    </div>
    <div class="fl w-100 w-20-ns tc pv5">
      Support
    </div>
    <div class="fl w-100 w-20-ns tc pv5">

    </div>
    <div class="fl w-100 w-20-ns tc pv5">

    </div>
  </div>


  <a href="#top" class="back-to-top fixed bottom-1 right-1 bg-white lh-solid z-999" data-aos="fade-left"
    data-aos-anchor="#fadein-backtotop">
    <img src="{{ site.baseurl }}/images/arrow.svg" class="di w2" alt="Scroll to top button">
  </a>
  </div>
</footer>


<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>