<footer class="pt2 pb5 pb6-l cf ph4 bg-customgrey" id="fadein-backtotop">

  <div class="cf">
    <div class="fl w-100 w-25-ns pv5">
      <p class="pb3 fw7">Your rights</p>

      {% for rights in site.rights reversed %}
      <a href="{{ rights.url }}" class="link db dim">
        <p class="mb0 fw4 pb2">{{ rights.title }}</p>
      </a>

      {% endfor %}
    </div>
    <div class="fl w-100 w-25-ns pv5">

      <p class="pb3 fw7">How it works</p>
      {% for how in site.howitworks %}
      <a href="{{ how.url }}" class="link db dim">
        <p class="mb0 fw4 pb2">{{ how.title }}</p>
      </a>

      {% endfor %}
    </div>
    <div class="fl w-100 w-25-ns pv5">
      Help
    </div>


  </div>


  <a href="#top" class="back-to-top fixed bottom-1 right-1 bg-white lh-solid z-999" data-aos="fade-left"
    data-aos-anchor="#fadein-backtotop">
    <img src="{{ site.baseurl }}/images/arrow.svg" class="di w2" alt="Scroll to top button">
  </a>
  </div>
</footer>


<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>